Source: chrootfs
Section: utils
Priority: extra
Maintainer: Jan Nidzwetzki <jnidzwetzki@gmx.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: chrootfs
Architecture: any
Depends: ${shlibs:Depends}, fuse, libfuse-dev, pkg-config, bison, flex, libpam0g-dev, hardening-wrapper
Description: This is an overlay filesystem for chroot environments based on fuse
 This is an overlay fuse filesystem. It allows you to hide certain files and directories from the underlaying filesystem. You can use this filesystem for providing chroot environments to users without copying any libraries or binaries. 
